.nav {
  background-color: black;
  border-top: 1px solid white;
  position: relative;
  width: 100%;

  &__container {
    max-width: 500px;
    margin: 0 auto;
  }

  &__menu {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__item {
    flex: 1;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .item__title {
    font-weight: 700;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 10px 0px;

    &:hover {
      color: red;
    }
  }

  .item__title:hover + .subMenu__list {
    background-color: #444;
  }

  .nav__item:has(.subMenu__list:hover) .item__title {
    color: red;
  }

  .subMenu__list {
    list-style: none;
    padding: 0 10px;
    flex-grow: 1;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transform: translateY(-10px);
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease,
      visibility 0.3s ease;

    &:hover {
      background-color: #444;
    }
  }

  .subMenu__item {
    color: white;
    padding: 6px 0;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: red;
    }
  }

  .nav__menu:hover .subMenu__list {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
